In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import missingno
import time
from tqdm import tqdm,tqdm_notebook,tqdm_pandas
%matplotlib inline

## 读取静态文件

In [16]:
ad_static_fea  = pd.read_csv('./dataset/ad_static_feature.out',
                             sep='\t',
                             header=None,
                             names=['广告id', '创建时间','广告账户id','商品id','商品类型','广告行业id','素材尺寸'])

/mnt/7D8C5D9D3CC9F65C/lph/torch_py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
ad_static_fea['创建时间'] = ad_static_fea['创建时间'].apply(lambda x: time.strftime("%Y-%m-%d",time.localtime(x))).values

In [18]:
ad_static_fea.head()

     广告id        创建时间  广告账户id   商品id  商品类型 广告行业id 素材尺寸
0  106452  2018-06-26   22226  16088    13    225  NaN
1  233649  2018-09-29   25681   7356    13    136    1
2  547531  2019-02-21   20696     -1     1    186   40
3  707841  2019-03-06    3968     -1     3    186   40
4  457009  2019-02-18   23614   7447    13    172  NaN

## 对曝光广告文件进行挖掘

In [20]:
temp_totalExposureLog_pro =  pd.read_csv('./dataset/totalExposureLog_pro.csv',sep=',')[['曝光广告id','曝光广告出价bid', '曝光广告素材尺寸','pctr','equality_ecpm']]

In [21]:
temp_totalExposureLog_pro.head()

   曝光广告id  曝光广告出价bid  曝光广告素材尺寸     pctr  equality_ecpm
0  451525         46        50   47.217         944.34
1  451525         56        50   39.129         782.58
2  451525         18        50  119.905        2398.10
3  451525        100        50   21.763         435.26
4  451525         20        50  107.212        2144.24

In [25]:
temp_totalExposureLog_math_fea = temp_totalExposureLog_pro.groupby(['曝光广告id']).agg({'曝光广告出价bid':[min, max, np.mean,np.std],
                                                       '曝光广告素材尺寸':[max, np.mean],
                                                       'pctr':[max, min, np.mean, np.std],
                                                       })

In [57]:
bid_fea = temp_totalExposureLog_math_fea['曝光广告出价bid'].reset_index()
bid_fea.columns = ['曝光广告id', 'bid_min', 'bid_max', 'bid_mean', 'bid_std']

In [63]:
ad_size_fea = temp_totalExposureLog_math_fea['曝光广告素材尺寸'].reset_index()
ad_size_fea.columns = ['曝光广告id', 'ad_size_max', 'ad_size_mean']

In [65]:
pctr_fea = temp_totalExposureLog_math_fea['pctr'].reset_index()
pctr_fea.columns = ['曝光广告id',  'pctr_max','pctr_min', 'pctr_mean', 'pctr_std']

In [66]:
bid_fea.head()

   曝光广告id  bid_min  bid_max    bid_mean     bid_std
0       1       24     1594  306.629630  420.721098
1       2       68     2969  440.037037  541.292953
2       3       10       68   23.166667   18.393840
3       4       10     1403  173.282392  132.116900
4       5       12       12   12.000000         NaN

In [67]:
ad_size_fea.head()

   曝光广告id  ad_size_max  ad_size_mean
0       1           64          64.0
1       2           36          36.0
2       3           64          64.0
3       4           64          64.0
4       5           50          50.0

In [69]:
pctr_fea.head()

   曝光广告id  pctr_max  pctr_min   pctr_mean   pctr_std
0       1     6.960     1.225    3.111519   1.255610
1       2    69.826     1.103    7.171383   7.878272
2       3    89.268     2.725   16.047167  25.080070
3       4    62.071     0.010    7.591223   5.730947
4       5   268.088   268.088  268.088000        NaN

In [70]:
fea_select_1 = pd.merge(bid_fea, ad_size_fea, on='曝光广告id')
fea_select_1 = pd.merge(fea_select_1, pctr_fea, on='曝光广告id')

In [77]:
fea_select_1  =fea_select_1.rename(index=str, columns={"曝光广告id": "广告id"})

In [9]:
## 广告id 创建时间 素材尺寸 广告行业id 商品类型 商品id 广告账户id 投放时段 人群定向 出价

In [79]:
ad_fea = pd.merge(ad_static_fea,fea_select_1, on='广告id',how='outer')

In [80]:
ad_fea

,广告id,创建时间,广告账户id,商品id,商品类型,广告行业id,素材尺寸,bid_min,bid_max,bid_mean,bid_std,ad_size_max,ad_size_mean,pctr_max,pctr_min,pctr_mean,pctr_std
0,106452,2018-06-26,22226.0,16088,13.0,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,233649,2018-09-29,25681.0,7356,13.0,136,1,100.0,100.0,100.000000,NaN,1.0,1.0,0.841,0.841,0.841000,NaN
2,547531,2019-02-21,20696.0,-1,1.0,186,40,100.0,512.0,485.651163,90.166746,40.0,40.0,28.486,1.483,7.374188,5.335201
3,707841,2019-03-06,3968.0,-1,3.0,186,40,74.0,425.0,205.875000,142.742963,40.0,40.0,12.008,0.905,5.179125,3.513139
4,457009,2019-02-18,23614.0,7447,13.0,172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,733436,2019-03-19,22405.0,31722,5.0,117,64,15.0,794.0,118.551282,139.377619,64.0,64.0,63.112,0.076,6.941026,10.000894
6,249105,2019-03-15,11360.0,29999,18.0,145,44,51.0,109.0,72.666667,22.277043,44.0,44.0,33.469,14.670,20.021167,6.900286
7,160014,2019-03-14,6441.0,2373,18.0,198,36,13.0,282.0,71.915254,45.216067,36.0,36.0,29.112,4.463,15.680068,5.886980
8,541096,2019-03-13,5117.0,220,5.0,232,44,8.0,174.0,96.416667,42.904669,44.0,44.0,71.036,6.627,19.813083,19.477155
9,634000,2019-03-11,28588.0,20164,18.0,76,64,10.0,40.0,17.000000,8.514693,64.0,64.0,8.430,1.568,3.624941,1.624254
10,367826,2019-03-09,26093.0,-1,1.0,221,64,14.0,203.0,74.368421,54.970912,64.0,64.0,9.336,0.588,3.557421,2.375447
11,660913,2019-03-07,10035.0,24783,3.0,164,64,13.0,13.0,13.000000,NaN,64.0,64.0,3.613,3.613,3.613000,NaN
12,584892,2019-02-23,12891.0,32505,18.0,94,64,10.0,4511.0,171.321429,536.781981,64.0,64.0,5.767,0.632,2.272583,1.200548
13,633122,2019-02-20,20482.0,3699,18.0,117,64,22.0,312.0,109.200000,125.370252,64.0,64.0,13.742,2.251,5.194800,4.841037
14,272385,2019-02-19,932.0,24080,5.0,101,36,3.0,389.0,95.250000,94.892385,36.0,36.0,141.280,1.463,26.424857,36.524470
15,111812,2019-03-20,2111.0,149,8.0,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,564269,2019-03-18,22945.0,32594,18.0,232,44,22.0,121.0,68.769231,32.604074,44.0,44.0,23.798,8.691,17.063538,4.121395
17,422496,2019-03-08,12158.0,2936,18.0,232,64,5.0,60.0,24.750000,19.322452,64.0,64.0,64.779,6.220,34.747625,18.800055
18,553709,2019-03-15,27464.0,7104,8.0,164,36,61.0,61.0,61.000000,NaN,36.0,36.0,4.994,4.994,4.994000,NaN
19,476327,2019-03-16,25436.0,8809,8.0,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,165652,2019-03-06,15568.0,-1,1.0,121,64,20.0,245.0,89.857143,76.948963,64.0,64.0,33.453,3.437,12.625143,11.094794
21,257514,2019-03-18,5218.0,-1,2.0,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,187839,2019-02-26,3207.0,-1,1.0,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,347637,2019-02-22,18529.0,28775,13.0,12,34,64.0,100.0,96.100719,8.243834,34.0,34.0,69.084,1.361,11.127086,10.089820
24,667510,2018-12-30,19929.0,11861,18.0,120,44,30.0,878.0,224.984127,176.169776,44.0,44.0,76.967,0.733,12.981175,10.699905
25,75350,2019-03-02,19045.0,10993,18.0,117,30,16.0,978.0,174.444444,243.546885,30.0,30.0,42.463,0.274,7.591111,11.647823
26,472243,2019-03-21,23634.0,-1,1.0,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,729519,2019-03-16,11393.0,-1,1.0,17,1,21.0,88.0,43.363636,18.858806,1.0,1.0,11.653,0.278,5.690364,4.208039
28,456798,2019-02-19,5474.0,12933,18.0,117,64,10.0,2276.0,342.794872,442.445781,64.0,64.0,18.485,0.483,3.715282,2.497764
29,645512,2019-03-13,25695.0,19165,18.0,117,36,28.0,3520.0,403.644231,522.357853,36.0,36.0,152.761,1.101,10.175135,17.963118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735909,687681,2019-03-20,23225.0,-1,1.0,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735910,222150,2019-02-28,4250.0,14527,18.0,94,36,248.0,7086.0,3099.727273,2414.644201,36.0,36.0,7.855,1.615,3.962182,2.242631
735911,11359,NaN,NaN,NaN,NaN,NaN,NaN,55.0,55.0,55.000000,NaN,40.0,40.0,13.586,13.586,13.586000,NaN
735912,52461,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2350.0,950.500000,993.818394,29.0,29.0,3.585,1.064,2.474500,1.185825
735913,101408,NaN,NaN,NaN,NaN,NaN,NaN,154.0,154.0,154.000000,NaN,30.0,30.0,4.329,4.329,4.329000,NaN
735914,131876,NaN,NaN,NaN,NaN,NaN,NaN,55.0,55.0,55.000000,NaN,64.0,64.0,4.089,4.089,4.089000,NaN
735915,137338,NaN,NaN,NaN,NaN,NaN,NaN,536.0,536.0,536.000000,NaN,29.0,29.0,5.598,5.598,5.598000,NaN
735916,144566,NaN,NaN,NaN,NaN,NaN,NaN,471.0,1323.0,897.000000,602.454978,29.0,29.0,6.363,2.268,4.315500,2.895602
735917,145021,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,12.000000,NaN,64.0,64.0,10.405,10.405,10.405000,NaN
735918,169634,NaN,NaN,NaN,NaN,NaN,NaN,65.0,65.0,65.000000,NaN,64.0,64.0,2.568,2.568,2.568000,NaN
735919,170320,NaN,NaN,NaN,NaN,NaN,NaN,99.0,99.0,99.000000,0.000000,36.0,36.0,4.978,4.978,4.978000,0.000000
735920,173651,NaN,NaN,NaN,NaN,NaN,NaN,41.0,41.0,41.000000,NaN,36.0,36.0,17.773,17.773,17.773000,NaN
735921,340055,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.000000,NaN,40.0,40.0,35.171,35.171,35.171000,NaN
735922,366236,NaN,NaN,NaN,NaN,NaN,NaN,1.0,825.0,391.166667,353.288787,29.0,29.0,607.079,3.030,105.344500,245.805013
735923,370066,NaN,NaN,NaN,NaN,NaN,NaN,231.0,231.0,231.000000,NaN,54.0,54.0,16.862,16.862,16.862000,NaN
735924,373384,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.000000,NaN,30.0,30.0,2.656,2.656,2.656000,NaN
735925,396939,NaN,NaN,NaN,NaN,NaN,NaN,795.0,795.0,795.000000,NaN,64.0,64.0,5.384,5.384,5.384000,NaN
735926,471625,NaN,NaN,NaN,NaN,NaN,NaN,644.0,644.0,644.000000,NaN,36.0,36.0,1.634,1.634,1.634000,NaN
735927,476395,NaN,NaN,NaN,NaN,NaN,NaN,1.0,768.0,384.500000,542.350901,29.0,29.0,3.257,2.317,2.787000,0.664680
735928,484304,NaN,NaN,NaN,NaN,NaN,NaN,12.0,91.0,35.428571,27.116152,14.0,14.0,23.812,0.706,6.719714,8.032796
735929,504984,NaN,NaN,NaN,NaN,NaN,NaN,1.0,94.0,54.333333,47.982636,36.0,36.0,193.721,10.584,93.218000,92.866927
735930,523359,NaN,NaN,NaN,NaN,NaN,NaN,328.0,2108.0,921.333333,1027.683479,29.0,29.0,7.611,1.186,5.469333,3.709475
735931,538187,NaN,NaN,NaN,NaN,NaN,NaN,24.0,60.0,42.000000,25.455844,14.0,14.0,3.326,2.782,3.054000,0.384666
735932,541314,NaN,NaN,NaN,NaN,NaN,NaN,20.0,20.0,20.000000,NaN,40.0,40.0,22.148,22.148,22.148000,NaN
735933,543310,NaN,NaN,NaN,NaN,NaN,NaN,72.0,72.0,72.000000,NaN,36.0,36.0,9.234,9.234,9.234000,NaN
735934,577270,NaN,NaN,NaN,NaN,NaN,NaN,254.0,254.0,254.000000,NaN,64.0,64.0,5.902,5.902,5.902000,NaN
735935,591379,NaN,NaN,NaN,NaN,NaN,NaN,708.0,708.0,708.000000,NaN,30.0,30.0,4.236,4.236,4.236000,NaN
735936,625220,NaN,NaN,NaN,NaN,NaN,NaN,767.0,767.0,767.000000,NaN,29.0,29.0,3.909,3.909,3.909000,NaN
735937,693240,NaN,NaN,NaN,NaN,NaN,NaN,5.0,64.0,40.000000,25.179357,36.0,36.0,35.551,11.945,26.770250,10.576591
735938,711505,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,11.000000,NaN,30.0,30.0,68.282,68.282,68.282000,NaN

In [81]:
ad_static_fea.shape

(735911, 7)

In [82]:
fea_select_1.shape

(509280, 11)

In [84]:
len(np.unique(temp_totalExposureLog_pro['曝光广告id']))

509280

In [85]:
ad_fea.to_csv('./ad_fea_li.csv',index=None)